[Desktop Entry]
Name=Dominion Swiss Tournament
Exec=dominion-swiss-tournament
Icon=logo
Type=Application
Categories=Game;
Comment=Run Dominion Swiss Tournament manager
